body {
  font-size: 14px;
  line-height: 24px;
  font-family: "Arial", sans-serif; }
  body .container {
    position: relative; }
    body .container .header {
      position: fixed;
      bottom: 0;
      color: #6D6D6D;
      background-color: #eeeeee; }
      body .container .header a {
        text-align: center;
        color: #6d6d6d;
        font-size: 14px; }
        body .container .header a i {
          font-size: 32px; }
      body .container .header .active {
        color: #10ABCA !important; }
    body .container .tab-content .pills-home .timer p {
      color: #ff0000;
      position: relative;
      font-size: 30px;
      font-family: "Yantramanav", sans-serif; }
